@import './variables';

html {
  color: $black;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-weight: unset;
  margin: 0;
}

b {
  font-family: $font-heading;
  font-weight: unset;
}

h1 {
  font-family: $font-heading;
  font-size: 4.375rem;
  line-height: 5.25rem;

  @media #{$medium} {

  }

  @media #{$small} {

  }

  @media #{$x-small} {

  }
}

h2 {
  font-family: $font-heading;
  font-size: 3.375rem;
  line-height: 4.25rem;

  @media #{$medium} {

  }

  @media #{$small} {

  }

  @media #{$x-small} {

  }
}

p,
span,
a {
  font-family: $font-body;
  font-size: 0.875rem;
  line-height: 1.375rem;

  @media #{$medium} {

  }

  @media #{$small} {

  }

  @media #{$x-small} {

  }
}

div {
  box-sizing: border-box;
}

.max-width-container {
  max-width: $max-width;
  padding: 0 7.5rem;
  margin: auto;

  @media #{$small} {
    padding: 0 5.75rem;
  }

  @media #{$x-small} {
    padding: 0 1.25rem;
  }
}
